/* Toast message */
.toast-message {
  font-weight: var(--font-weight-body-2);
  font-size: var(--font-size-body-2);
  display: flex;
  justify-content: space-between;
  min-width: 450px;
  max-width: 650px;
  padding: 16px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.078);
  border-radius: 4px;
  visibility: hidden;
}

.toast-message__message {
  margin-right: 16px;
}

.toast-message i {
  font-size: 14px;
  margin-right: 8px;
}

.toast-message__undo {
  text-decoration: underline;
  color: var(--font-color-primary);
  font-weight: var(--font-weight-button);
  margin-right: 16px;
}

.toast-message__undo,
.toast-message i {
  cursor: pointer;
}


/* Success */
.toast-message.message--success {
  color: var(--color-light-green-500);
  font-weight: var(--font-weight-button);
  margin-right: 3px;
}

/* Danger */
.toast-message.message--danger {
  color: var(--color-red-500);
  font-weight: var(--font-weight-button);
  margin-right: 3px;
}

/* Warning */
.toast-message__message--warning {
  color: var(--color-deep-orange-500);
  font-weight: var(--font-weight-button);
  margin-right: 3px;
}

/* Info*/
.toast-message__message--info {
  color: var(--color-blue-500);
  font-weight: var(--font-weight-button);
  margin-right: 3px;
}

