<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="select.css" />
	</head>

	<body>
		<!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
		<div class="select-wrapper">
			<div class="custom-select">
				<label for="select-custom"><p>Select</p></label>
				<select id="select-custom">
					<option value="0">Select</option>
					<option value="1">Option 1</option>
					<option value="2">Option 2</option>
					<option value="3">Option 3</option>
				</select>
			</div>
		</div>
		<script src="select.js" />
	</body>
</html>
