/* Dialog */
.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color: var(--color-grey-0);
  box-shadow: 0px 4px 16px rgba(23,27,42,0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 24px;
  flex-direction: column;
  max-width: 450px;
}

.dialog.dialog--hidden {
  display: none;
}

.dialog .dialog__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
  align-items: center;
}

.dialog__title h2 {
  color: var(--font-color-primary);
  font-weight: var(--font-weight-heading-1);
  font-size: var(--font-size-heading-1);
}

.dialog__content {
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  font-size: var(--font-size-body-1);
}

.dialog__content .icon--default {
  min-width: 24px; 
}

.dialog__actions {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  gap: 8px;
}