/* Header */
.header {
  height: 56px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

/* Left header (logo) */

.header--left {
  width: 200px;
  background-color: var(--font-color-menu-background);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 0 16px;
}

.header__logo {
  margin-top: 8px;
  /* background: url('../../../assets/img/Sprites.64af8f61.svg') no-repeat -1232px -1015px; */
  background: url("../../../assets/img/Logo_Module_TiengViet_White.66947422.svg")
    no-repeat;
  background-size: contain;
  height: 56px;
  width: 200px;
}

/* Right header (search bar, menu, etc.) */
.header--right {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header--right .content--left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 16px;
  gap: 16px;
}

.header--right .content--left input {
  margin-top: 0px;
}

.header--right .header__title {
  font-weight: var(--font-weight-heading-1);
  font-size: var(--font-size-heading-1);
  text-align: left;
  margin-left: 0px;
}

.header__icon--left {
  height: 20px;
  width: 20px;
}



.header--right .content--right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  margin-right: 16px;
}

.header__icon--right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.header__icon--right i {
  font-size: 18px;
  color: var(--font-color-secondary);
  cursor: pointer;
}

.header__icon--right:hover {
  background-color: var(--font-color-background);
}

.header__avatar i {
  font-size: 32px;
  color: var(--font-color-secondary);
  cursor: pointer;
}

.header__avatar {
  display: flex;
  align-items: center;
  gap: 8px; 
}