/* Table */
.table-staff__container {
    height: 200px;
    width: 70vw;
    overflow-y: auto;
    /* border: 1px solid #e0e0e0; */
    border-radius: 4px 4px 0px 0px;
    position: relative;
}

.table-staff__container::-webkit-scrollbar {
    display: none;
}

/* Style cho table */
.table-staff {
  border-spacing: 0;
  box-sizing: border-box;
  table-layout: fixed;
  width: 100%;
  font-size: var(--font-size-body);
  border: 1px solid var(--font-color-border);
  border-bottom: 0px;
}

.table-staff thead {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.table-staff .table-staff__header {
  height: 48px;
  font-weight: 700;
  color: #1f1f1f;
  background-color: #eeeeee;
  padding: 0 16px;
  text-align: left;
}

.table-staff__row.body-row:hover {
  background-color: #f8f8f8;
}

.table-staff__row.body-row.active {
  background-color: #EDF8EB;
}

.table-staff .table-staff__table-data {
  height: 48px;
  font-weight: 400;
  color: #1f1f1f;
  padding: 0px 16px;
  border-bottom: 1px solid #eeeeee;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Căn chỉnh dòng */
.header--right,
.table-data--right {
  text-align: end !important;
}

.header--center,
.table-data--center {
  text-align: center !important;
}

/* Cố định chiều rộng ô khi kéo dài bảng*/
#table-checkbox {
  width: 20px;
}

/* Filter của bảng*/

.table-staff__filter {
  float: right;
  cursor: pointer;
}


.table-staff__filter-options {
  visibility: hidden;
  position: absolute;
  display: flex;
  margin-top: 12px;
  background: #ffffff;
  font-size: 14px;
  transform: translateX(-50);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.078);
  border-radius: 4px;
}

/* Cho mũi tên của khung filter hướng lên */
.table-staff__filter-options::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 2%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

.table-staff__filter i:hover ~ .table-staff__filter-options {
  z-index: 2;
  visibility: visible;
  flex-direction: column;
}

.table-staff__filter-options .filter-options__title {
  padding: 24px;
}

.table-staff__filter-options .filter-options__content {
  padding: 0px 24px 24px;
  display: flex;
  justify-content: flex-end;
}

.table-staff__filter-options input[type="text"] {
  color: #1f1f1f;
  height: 36px;
  padding: 0px 12px;
  border-radius: 4px;
  border: 1px solid #e6e4e4;
  outline: 0px;
  box-sizing: border-box;
  cursor: pointer;
}

.table-staff__filter-options .filter-options__actions {
  padding: 12px 24px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

/* Hiện các hành động có thể thực hiện khi hover chuột vào dòng của bảng */
.table-staff .last-cell {
  position: relative;
}

.table-staff__actions {
  visibility: hidden;
  position: absolute;
  display: flex;
  gap: 8px;
  padding-right: 16px;
  top: 6px;
  right: 0px;
}

.table-staff__row.body-row:hover .table-staff__actions {
  visibility: visible;
}

.table-staff__actions .btn--round {
  width: 36px;
  height: 36px;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
}

.table-staff__actions .btn--round i {
  font-size: 14px;
  color: #666666;
}

.table-staff__actions .btn--round:hover {
  cursor: pointer;
}

/* Table footer */
.table__footer {
  display: flex;
  width: 100%;
  border: 1px solid var(--border-color-default);
  border-top: 0px;
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  height: 42px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.table__footer--right {
  display: flex;
  align-items: center;
}

.table__footer--right__page-number,
.table__footer--right__pagination {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.table__footer--right__pagination img {
  cursor: pointer;
}

.table__footer__custom-combobox select {
  padding: 0px;
  border: 0px;
  outline: 0px;
}