/* Button */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
  line-height: var(--line-height-button);
  box-sizing: border-box;
  min-width: 80px;
  height: 36px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  border: 0px;
  /* transition: all 0.2s ease; */
}

.btn:disabled {
  opacity: 0.56;
  cursor: default;
}

.btn__content{
  padding: 0px 16px;
}

/* Primary */
.btn--primary {
  color: var(--font-color-menu-title);
  background-color: var(--color-light-green-500);
}

.btn--primary:hover {
  background-color: var(--color-light-green-400);
}

.btn--primary:active {
  background-color: var(--color-light-green-600);
}

/* .btn--primary:focus {
  background-color: var(--color-light-green-400);
} */

/* Secondary */

.btn--secondary {
  color: var(--color-grey-900);
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-300);
}

.btn--secondary:hover {
  background-color: var(--color-grey-100);
}

.btn--secondary:active {
  background-color: var(--color-grey-200);
}

/* .btn--secondary:focus {
  background-color: var(--color-grey-100);
} */

/* Danger */
.btn--danger {
  background-color: var(--color-red-500);
  color: var(--font-color-menu-title);
  cursor: pointer;
}

.btn--danger:hover {
  background-color: var(--color-red-400);
}

.btn--danger:active {
  background-color: var(--color-red-600);
}

/* .btn--danger:focus {
  background-color: var(--color-red-400);
} */

/* Link */
.btn--link {
  color: var(--color-light-green-500);
  background-color: var(--color-grey-0);
}

.btn--link:hover {
  color: var(--color-light-green-400);
}

.btn--link:active {
  color: var(--color-light-green-600);
}

/* .btn--link:focus {
  color: var(--color-light-green-400);
} */

/* Icon */
.btn--icon {
  color: var(--color-light-green-500);
  background-color: var(--color-grey-100);
  min-width: 40px;
}

.btn--icon:hover {
  color: var(--color-light-green-400);
}

.btn--icon:active {
  background-color: var(--color-light-green-600);
  color: var(--font-color-menu-title);
}

/* .btn--icon:focus {
  color: var(--color-light-green-400);
} */

/* Combo button*/
.btn--combo button{
  color: var(--font-color-menu-title);
  background-color: var(--color-light-green-500);
  line-height: var(--line-height-button);
  border: 0px;
}

.btn--combo .btn__content {
  height: 36px;
  line-height: var(--line-height-button);
  display: flex;
  font-weight: var(--font-weight-button);
  align-items: center;
  border-radius: 4px 0px 0px 4px;
}

.btn--combo .btn__icon {
  padding: 0px 12px;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 0px 4px 4px 0px;
  border-left: 1px solid var(--font-color-menu-title);
}

.btn--combo .btn__content:hover,
.btn--combo .btn__icon:hover {
  background-color: var(--color-light-green-400);
  cursor: pointer;
}

.btn--combo .btn__content:active,
.btn--combo .btn__icon:active {
  background-color: var(--color-light-green-600);
  cursor: pointer;
}

/* .btn--combo .btn__content:focus,
.btn--combo .btn__icon:focus {
  background-color: var(--color-light-green-400);
  cursor: pointer;
} */

/* Button with icon */
.btn--with-icon {
  background-color: var(--color-light-green-500);
  color: var(--font-color-menu-title);
}

.btn--with-icon .btn__icon {
  padding: 0px 4px 0px 12px;
}

.btn--with-icon .btn__content {
  padding-left: 0px;
}

.btn--with-icon:hover {
  background-color: var(--color-light-green-400);
}

.btn--with-icon:active {
  background-color: var(--color-light-green-600);
}

/* .btn--with-icon:focus {
  background-color: var(--color-light-green-400);
} */

