/* css header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    height: var(--header-height);
    width: 100%;
}

/* header left */
.header__left {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 0 16px;
}



/* header right */
.header__right {
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.header__icon {
    padding: 4px;
    border-radius: 50%;
    z-index: 1;
}

.header__icon:hover {
    background-color: #f1f1f1;
}

