/* Text field */
.txt-field {
  display: flex;
  flex-direction: column;
}

.txt-field p {
  font-size: var(--font-size-menu);
  font-weight: var(--font-weight-menu);
  margin-bottom: 8px;
}

.txt-field__container input{
  font-size: var(--font-size-body-2);
  font-weight: var(--font-weight-body-2);
  border: 1px solid var(--color-grey-300);
  color: var(--font-color-primary);
  height: 36px;
  padding: 0px 12px;
  border-radius: 4px;
  outline: 0px;
  box-sizing: border-box;
  cursor: input;
}

.txt-field__container input::placeholder {
  color: var(--font-color-disable);
}

.txt-field__helper-text {
  margin-top: 8px;
}

.txt-field__helper-text.hidden {
  visibility: hidden;
}

.txt-field .input__required {
  color: var(--color-red-500);
}

/* Normal */
.txt-field__input.input--normal:hover {
  background-color: var(--font-color-background);
}

.txt-field__input.input--normal:focus {
  border: 1px solid var(--color-light-green-500);
}

/* Danger */
.txt-field__input.input--danger {
  border: 1px solid var(--color-red-500) !important;
}

.txt-field__input.input--danger:hover {
  background-color: var(--font-color-background);
}

.txt-field__helper-text {
  color: var(--color-red-500);
}

/* Read-only */
.txt-field__input.input--read-only {
  background-color: var(--font-color-background);
}

.txt-field__input.input--read-only::placeholder {
  color: var(--font-color-disable);
}

.txt-field__input.input--read-only:hover {
  cursor: default;
}

/* Validated */
.txt-field__container--validated {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.txt-field__input.input--validated {
  border: 1px solid var(--color-light-green-500) !important;
}

.txt-field__input.input--validated:hover {
  background-color: var(--font-color-background);
}

.txt-field__input.input--validated::placeholder {
  color: var(--font-color-primary) !important;
} 

/* Input with action */
.txt-field__container--action {
  display: flex;
  align-items: center;
  position: relative;
}

.txt-field__input.input--action:hover {
  background-color: var(--font-color-background);
}

.txt-field__input.input--action:active {
  background-color: var(--color-grey-0);
}

.txt-field__container--action:active {
  background-color: var(--color-grey-0);
}

/* Xử lí icon ở validated text field*/
.txt-field__container--validated .icon--default {
  position: absolute;
  right: 8px;
}

/* Xử lí icon ở action text field*/
.txt-field__container--action .icon--default{
  position: absolute;
  height: 34px;
  width: 35px;
  right: 0;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  box-sizing: border-box;
  border: 0px;
}